{% extends "admin/base.html" %}
{% load i18n %}

{% block title %} Log In | Code Review {% endblock %}

{%block extrastyle%}
<link rel="stylesheet" type="text/css" href="/media/css/login.css">
{%endblock%}
{% block branding %}
<h1 id="site-name">Code review</h1>
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors %}
<p class="errornote">There was a problem with the credentials you entered. Please try again.</p>
{% endif %}

<div id="content-main">
<form method="post" action="." id="login-form">{% csrf_token %}
<!--table>
<tr><td>{{ form.username.label_tag }}</td><td>{{ form.username }}</td></tr>
<tr><td>{{ form.password.label_tag }}</td><td>{{ form.password }}</td></tr>
</table>
<input type="submit" value="login" /-->


<div class="form-row">
    <label for="id_username">Username:</label> <input type="text" name="username" id="id_username" />
  </div>
  <div class="form-row">
    <label for="id_password">Password:</label> <input type="password" name="password" id="id_password" />
    <input type="hidden" name="this_is_the_login_form" value="1" />
<input type="hidden" name="next" value="{{ next }}" />
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>
</div>
<script type="text/javascript">
  document.getElementById('id_username').focus()
</script>
{% endblock %}

