recursive-include leetveld/templates *.html
recursive-include leetveld/templates *.txt
recursive-include rietveld_helper/templates *.html
recursive-include leetveld/static *
include leetveld/version.txt
